/* common elements */
input[type="button"], input[type="submit"], button {padding : 0 15px; border-radius: 15px;  font-size: 1.5rem; line-height: 30px; font-weight: 500; transition: 0.5s;}
.btn01 {background-color:transparent; border:1px solid #fff; color: white; }
.btn01:hover {background-color:#fff; color: #ff267e;}
.btn02 {background-color:transparent; border:1px solid #ff267e; color: #ff267e; }
.btn02:hover {background-color:#ff267e; color: white;}
.btn03 {background-color:transparent; border:1px solid #2f66ff; color: #2f66ff; }
.btn03:hover {background-color:#2f66ff; color: white;}
.btn04 {background-color:transparent; border:1px solid #434c65; color: #434c65; }
.btn04:hover {background-color:#434c65; color: white;}
.btn03-reverse {background-color:#2f66ff; color: white; line-height:3.2rem; border-radius:0;}
.highlight01 {color:#2f66ff; font-weight:500;}
.highlight02 {color:#00ec8a; font-weight:500;}
.highlight03 {color:#ff267e; font-weight:500;}
.highlight04 {color:#999; font-weight:500;}
.cf:after {content:''; display: block; clear:both;}
input[type="text"],input[type="password"], input[type="email"],input[type="date"], input[type="file"], select {width:100%; height:32px; font-size:1.4rem; line-height:2rem; padding:5px 10px;  transition: 0.5s;}
textarea {width:100%;  font-size:1.4rem; line-height:2rem; padding:5px 10px;}
input:focus, select:focus {border:1px solid #2f66ff; color:#2f66ff;}
select {background-image:url(/jspProject/images/ic_arrow.png); background-repeat:no-repeat; background-size:16px; background-position: right 5px center;}
/* table */
table.tbl, .tbl tr, .tbl td, .tbl th {   border-collapse : collapse; font-size:1.4rem;}
table.tbl {width:100%; border-top: 2px solid #2f66ff;}
.tbl th {padding:10px; color : #2f66ff; background-color:#f1f4ff; vertical-align:middle;}
.tbl tr {background-color:white; border-bottom:1px solid #d2d2d2; vertical-align:middle; text-align:center; transition: 0.3s;}
.tbl tr:hover {background-color:#f1f4ff; cursor:pointer;}
.tbl td {padding:10px; vertical-align:middle;}
/* register table */
.tbl-reg th {width:200px;}
.tbl-reg td {text-align:left;}
.tbl-reg tr:hover {background-color:#fff; cursor:auto;}
.tbl-reg input {max-width:500px;}
.tbl-reg textarea {max-width:500px;}
.tbl-reg select{max-width:500px;}
.tbl-tit {font-size:1.8rem; font-weight:500; color:#2f66ff; margin-bottom:10px;}
/* etc */
.float-r {float: right;}
.float-l {float:left;}
.fl {float:left; color:#808080; padding-left:10px;}
.fr {float:right; color:#808080; padding-right:10px;}
.pointer {cursor:pointer;}
.margin-r {margin-right:10px;}
.margin-l {margin-left:10px;}
.hidden {display:none;}


/*common section */
/*gnb*/
.gnb {position:fixed; top:0; left:0; padding:20px; width:300px; height:100%; background-color:#fff;}
.gnb .logo {margin-bottom:30px; padding:10px; width:100px; height:100px; font-size:2rem; background-color:#2f66ff; color:#fff; }
.gnb .gnb-list {font-size: 2rem; font-weight:600;}
.gnb .gnb-list li {margin:20px 0; cursor:pointer;}
.gnb .gnb-list li a {color:#333; transition: 0.2s;}
.gnb .gnb-list li a:hover {color:#2f66ff;}
.gnb .gnb-list li.on a {color:#2f66ff; border-bottom: 4px solid #2f66ff;}
.gnb .gnb-bottom {position:absolute; bottom:20px; left:20px; }
/*header*/
.header {position:fixed; top:0; left: 300px; padding:10px 20px; width:calc(100% - 300px); min-height:50px; z-index:888; transition: 0.2s; } 
.header .info {float:left; line-height:3rem; font-size:1.4rem;}
.header .right {float:right; line-height:3rem;}
.header .right a {color: #aaa; font-size:1.2rem;}
.header.scroll {background-color: rgba(245,245,245,0.9); padding: 15px 30px;}
/*content-wrap*/
.content-wrap {width:calc(100% - 300px); height:100%; margin-left: 300px; overflow:auto; background-color:#f9f9f9;}
.content-wrap .content { margin:50px auto 0; padding: 50px;}
/*page-top*/
.page-top {margin-bottom:20px;}
.page-top .page-name {font-size:2.2rem; float:left;}
.page-top button {float:right;}
/*page-num*/
.page-num {font-size:1.4rem; margin-top : 20px;}
.page-num a {color:#333; margin:0 2px;}
.page-num .on {color:#2f66ff}
/* page-bottom */
.page-bottom {margin-top : 20px;}
.page-bottom .category {width:100px; margin-right:5px;}
.page-bottom .sentence {width:200px; margin-right:5px;}


/* screen */
/* intro */
.intro .jb-box { width: 100%; height:100%; overflow: hidden;margin: 0px auto; position: relative; }
.intro .jb-text {position: absolute; top: 0; left: 0; width: 100%; height: 100%; text-align: center; transition: 0.5s; }
.intro .jb-text span {display: inline-block; vertical-align: middle; text-align: center; font-size: 48px; color: #ffffff; font-weight: 900;}
.intro .jb-text:before { content: ''; display: inline-block; width: 0; height: 100%; vertical-align: middle;}
.intro .btn-box {position: absolute; top:55%; left:50%; transform: translate(-50%,0); transition: 0.5s; }

/* intro login */
.intro #logbar {height: 100%;   width: 100%; display: none;   position: fixed; z-index: 1; top: 0; left: 0; background-color: rgba(0, 0, 0, .5);}
.intro .closeb {position: absolute; top:20px; right: 45px;   font-size: 50px; cursor: pointer; color: white;}
.intro .closeb:hover {color: #ccc;}
.intro .form {position:absolute; top:0; left:0; bottom:0; right:0; width: 300px; height:300px; margin: auto; padding: 30px;   background-color: #fff;   border-radius: 1em;   overflow: hidden;}
.intro .form h2 {margin-bottom:20px;}
.intro .form label {color: #aaa; font-size: 12px; text-align: left;}
.intro .form input {width:100%; border: none; border-bottom: 1px solid #ccc; background: transparent; height: 40px; color: #666; font-size: 16px; margin-bottom:10px;}
.intro .form input[type="button"]{border: none; height: 40px; width: 100%; color: #fff; font-size: 16px; background: #2f66ff; cursor: pointer; border-radius: 20px;}


/* intro register */
.intro #regbar {height: 100%;   width: 100%; display: none;   position: fixed; z-index: 1; top: 0; left: 0; background-color: rgba(0, 0, 0, .5);}
.intro .registerClose {position: absolute; top:20px; right: 45px;   font-size: 50px; cursor: pointer; color: white;}
.intro .registerClose:hover {color: #ccc;}
.intro .regform {position:absolute; top:0; left:0; bottom:0; right:0; width: 470px; height:760px; margin: auto; padding: 30px;   background-color: #fff;   border-radius: 1em;   overflow: hidden;}
.intro .regform h2 {margin-bottom:20px;}
.intro .regform td,small{vertical-align: top; color: red;}
.intro .regform td, .intro .regform span {color:black; font-size: 16px; height:40px; }
.intro .regform label {font-size: 12px; float:left; margin:0 10px;}
.intro .regform input {border: none; border-bottom: 1px solid #ccc; background: transparent; height: 35px; color: #666; font-size: 16px; margin-bottom:10px;}
.intro .regform input[type="button"]{border: none; height: 40px; width: 100%; color: #fff; font-size: 16px; background: #2f66ff; cursor: pointer; border-radius: 20px;}
.intro .regform input[type="submit"]{border: none; height: 40px; width: 100%; color: #fff; font-size: 16px; background: #2f66ff; cursor: pointer; border-radius: 20px;}
.intro .regform input[type="radio"]{width:20px; height:20px; float:left;}


/* userMainList */
.userMainList .my-masonry-grid-item {background-color: #fff; border-radius:10px; margin: 0 6px 12px; box-shadow: 0 2px 10px rgba(170, 173, 181, .2); cursor:pointer;}
.userMainList .my-masonry-grid-item .p-thumb {position:relative; width:100%; border-radius:10px 10px 0 0; height:200px;  background-color: #efefef; overflow:hidden;}
.userMainList .my-masonry-grid-item .p-thumb div {width:100%; height:100%; background-size:cover; background-position:center; background-repeat:no-repeat;}
.userMainList .my-masonry-grid-item .p-thumb div:hover {transform: scale(1.2); transition: all .5s; }
.userMainList .my-masonry-grid-item .p-thumb.end:before {content:'경매마감'; position:absolute; padding:70px 0; width:100%; height:100%; background-color:rgba(0,0,0,0.5); color:#fff; text-align:center; font-size:4rem; font-weight:bold;}
.userMainList .my-masonry-grid-item .p-text {padding:20px 20px 0;}
.userMainList .my-masonry-grid-item .p-text .tit {font-size:2rem; font-weight:500;}
.userMainList .my-masonry-grid-item .p-text .desc {font-size:1.4rem; color:#999;}
.userMainList .my-masonry-grid-item .mem {padding:10px 20px 20px; font-size:1.4rem;}


/* userMain */
.userMain.content-wrap .content {max-width: 1000px;}
.userMain.content-wrap .content .p-thumb {float:left; margin-right:40px; width:500px; height:500px; background-size:cover; background-position:center; background-repeat:no-repeat; background-color: #efefef;}
.userMain.content-wrap .content .p-text {position:relative; float:right; width:calc(100% - 540px);  height:500px;}
.userMain.content-wrap .content .p-text .timer {margin-bottom:10px; font-size:3.6rem; font-weight:100;}
.userMain.content-wrap .content .p-text .tit {font-size:2.6rem; font-weight:500; }
.userMain.content-wrap .content .p-text .desc {font-size:1.6rem; color:#999;}
.userMain.content-wrap .content .p-text .input-wrap {position:absolute; bottom: 20px; width:100%;}
.userMain.content-wrap .content .p-text .input-wrap .min-price{font-size:2rem; margin-bottom:10px;}
.userMain.content-wrap .content .p-text .input-wrap .min-price :last-child{float:right;}
.userMain.content-wrap .content .p-text .input-wrap input {margin-bottom:10px; height:42px; font-size:1.6rem; line-height:3rem;}
.userMain.content-wrap .content .p-text .input-wrap button {width:100%; padding:5px; margin-bottom:20px;}
.userMain.content-wrap .content .p-text .input-wrap .mem {font-size:1.6rem;}
.userMain.content-wrap .content .chat-wrap {float:left; margin-top:50px; width:100%; height:300px; background-color: #f7f7f7; border: 1px solid #ddd; background-image:url('/jspProject/images/ic_chat03.png'); background-position:center; background-repeat:no-repeat;}
.userMain.content-wrap .content .chat-wrap .message-ball { width: 100%; height: 300px; position:relative; overflow: auto; padding:20px;}
.userMain.content-wrap .content .chat-wrap .bubble-wrap  {width:100%; padding:0 10px;}
.userMain.content-wrap .content .chat-wrap .bubble-wrap .bubble { min-width: 100px; max-width: 400px; padding:10px; word-break:break-all; font-size:1.4rem;}
.userMain.content-wrap .content .chat-wrap .bubble-wrap.me .bubble {float:right; background-color:#fff295; border-radius:5px 0 5px 5px;}
.userMain.content-wrap .content .chat-wrap .bubble-wrap.me:before {content:""; display:block; float:right; width:9px; height:12px; background-image:url('/jspProject/images/ic_chat02.png');}
.userMain.content-wrap .content .chat-wrap .bubble-wrap.you .bubble{float:left; background-color:#d2e6f1; border-radius:0 5px 5px 5px; }
.userMain.content-wrap .content .chat-wrap .bubble-wrap.you:before {content:""; display:block; float:left; width:9px; height:12px; background-image:url('/jspProject/images/ic_chat01.png');}

/* qna */
.qna.content-wrap .content .card-wrap {}
.qna.content-wrap .content .card-wrap .card-box {width : 100%; margin-bottom:10px; background-color:#fff; border:1px solid #ddd; border-radius: 10px;}
.qna.content-wrap .content .card-wrap .card-box .regdate {color:#aaa; font-size:1.2rem; margin-left: 5px;}
.qna.content-wrap .content .card-wrap .card-box .card-head {padding:10px 15px; font-size:1.4rem; border-bottom:1px solid #efefef; border-radius: 10px 10px 0 0;}
.qna.content-wrap .content .card-wrap .card-box .card-head img {float:right; width:10px; margin: 7px 0; cursor:pointer;}
.qna.content-wrap .content .card-wrap .card-box .card-body {min-height:20px; border-radius:0 0 10px 10px;}
.qna.content-wrap .content .card-wrap .card-box .card-body .question {padding:10px 15px;}
.qna.content-wrap .content .card-wrap .card-box .card-body .question .tit {font-size:1.6rem; font-weight:500;}
.qna.content-wrap .content .card-wrap .card-box .card-body .question .con {font-size:1.4rem;}
.qna.content-wrap .content .card-wrap .card-box .card-body .answer {background-color:#f5f5f5; padding:10px 15px; font-size: 1.4rem; border-radius: 0 0 10px 10px;}
.qna.content-wrap .content .pagination {font-size:1.5rem; color:#999;}


/* userOrder */
.userOrder .tbl-reg {margin-bottom:40px;}
.userOrder .tbl-reg .payinfo {width:100px; border:1px solid #ccc; float:left; margin-right:10px; text-align:center; padding:10px; cursor:pointer;}
.userOrder .tbl-reg .payinfo.on {background-color: #f1f4ff;}
.userOrder .tbl-reg .bg-white {background-color:#fff;}
.userOrder .tbl-reg .tit {font-size:2rem; font-weight:500;}
.userOrder .tbl-reg .desc {font-size:1.6rem; color:#999; margin-bottom:10px;}
.userOrder .tbl-reg .highlight01 {font-size:1.6rem;}
.userOrder .p-thumb-s {width:200px; height:150px; background-size:cover; background-position:center; background-repeat:no-repeat; background-color: #efefef;}
.userOrder .btn03-reverse {width:300px; padding:5px; margin:0 calc(50% - 150px);}


/* popup */
.pop-wrap {width:100%; height:100%; position:fixed; top:0; left:0; z-index:999; display: none;}
.pop-wrap .pop-bg {height:100%; cursor:pointer; background:rgba(0,0,0,0.5);}
.pop-wrap .closeb {position: absolute; top:20px; right: 45px; font-size: 50px; cursor: pointer; color: white;}
.pop-wrap .pop-box {position:absolute;  top:0; left:0; bottom:0; right:0; margin: auto; padding: 30px;   background-color: #fff;   border-radius: 1em;   overflow: hidden;}


/* winner popup */
.winner .pop-box {padding:0; font-size:1.8rem;}
.winner .pop-box .winner-img {height:300px; background-size:cover; background-image:url('/jspProject/images/winner.png');}
.winner .pop-box .input-box {padding:30px 30px 0;}
.winner .pop-box .input-box {font-size:1.6rem;}
.winner .pop-box .input-box .highlight01 {font-size:2rem; font-weight:600;}
.winner .pop-box .input-box .btn03-reverse {width:100%; padding:10px;}

/* interactive style */
.fadeinslide{margin-top:-100px;max-width:100%; opacity:0;}
.fadein {opacity: 0;}
.hide {display: none;}